.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      pointer-events: auto;

      li {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 230ms;

        &:nth-child(1) {
          transition-delay: 60ms;
        }

        &:nth-child(2) {
          transition-delay: 120ms;
        }

        &:nth-child(3) {
          transition-delay: 180ms;
        }
      }
    }
  }
  &.socialBlock--active-color{
	  .social-block__toggler{
		   background: $c-purple;
			color: #fff;
	  }
	  .social-block__toggler::before{
		  width: 100%;
		  height: 100%;
		   border-color: $c-purple;
		    // background: $c-purple;
	  }
	}
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transform: scale(0.1);
  transition: color .3s, background .3s, border-color .3s, transform .3s .3s;


  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
	transition: border-color .3s;
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }


  &:hover,
  .social-block--active & {
    color: $c-purple;

    &::before {
      width: 112.5%;
      height: 112.5%;
    }

    .social-block__link {
      opacity: 1;
    }

  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    &+.social-block__list {
      pointer-events: auto;
    }

    .social-block__link {
      opacity: 1;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    .social-block__link {
      opacity: 1;
    }

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  pointer-events: none;
  transition: opacity 0.3s ease;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    pointer-events: auto;
  }

  &:focus-within {
    pointer-events: auto;
  }

  .social-block--active & {
    pointer-events: auto;
  }


  li {
    flex: none;
    margin-bottom: 0.5rem;
    opacity: 0;


    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
    opacity: 1;
	transition: color .4s;
	.social-block__toggler{
		background: $c-purple;
	}
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
	transition: color .4s;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
	transition: color .4s;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
